@mixin flex-box ($flex-direction, $justify-content){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
}

@mixin icon-insert ($width, $height, $src, $x, $y){
    content: '';
    display: block;
    width: $width;
    height: $height;
    background: $src;
    background-position: $x $y;
}