@media (max-width: 479px) {
    header {
        height: 516px;
        padding: 70px 0 65px;
        .slider {
            background: none !important;
        } 
        .slide .slide__text {
            display: none;
        }
    }
}