@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/LeagueGothicRegular/LeagueGothicRegular.eot');
    src: url('../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix')format('embedded-opentype'),
    url('../fonts/LeagueGothicRegular/LeagueGothicRegular.woff') format('woff'),
    url('../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}