* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 55px;
    background-color: lightgrey;

}

.get-data {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.value {
    border: none;
}

label {
    display: block;
}

.addData {
    display: block;
    width: 100px;
    height: 20px;
}

table {
    width: 100%;
    margin-top: 25px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #000;
}

th {
    height: 50px;
}

td {
    padding: 10px;
}