* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.wrapper--dark {
    background-color: #323232;
}

.wrapper--red {
    background-color: #FF6464;
}

.container {
    width: 100%;
    min-width: 20rem;
    max-width: 60rem;
}

.page-header {
    padding: 1.875rem 0;
    text-align: center;
    color: #fff;
}

nav {
    padding: 0.625rem 0;
}

.menu {
    display: flex;
}

.menu li {
    position: relative;
}

.menu li:not(:last-child) {
    margin-right: 1.5rem;
}

.menu li a {
    padding: 0 0.75rem;
    line-height: 2.5rem;
    color: #fff;
}

.fa-caret-down {
    margin-left: 0.3125rem;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-menu {
    position: absolute;
    width: 12.5rem;
    top: 2.5rem;
    left: 0;
    background-color: rgb(225,75,75);
}

.sub-second {
    top: 0;
    left: 12.5rem;
}

.sub-menu li a {
    border-bottom: solid 1px rgb(200,50,50);
    margin: 0 0.625rem;
    padding: 0;
}