<section class="about-info">
    <div class="wrapper">
        <div class="about-info__block">
        <span class="block__title">about our company</span>
            <p class="block__paragraph">
                Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor.
            </p>
            <a href="" class="block__link">read more</a>
        </div>

        <div class="about-info__block">
        <span class="block__title">about our company</span>
            <p class="block__paragraph">
                Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor.
            </p>
            <a href="" class="block__link">read more</a>
        </div>

        <div class="about-info__block">
        <span class="block__title">about our company</span>
            <p class="block__paragraph">
                Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor.
            </p>
            <a href="" class="block__link">read more</a>
        </div>
    </div>
</section>