<div class="wrapper wrapper--purple">
    <div class="info container">
        <div class="info__item">
            <article class="article">
                <h2 class="article__title">about our company</h2>
                <p class="article__text">Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam</p>
                <a href="" class="article__link">read more</a>
            </article>
        </div>
        <div class="info__item">
            <article class="article">
                <h2 class="article__title">about our company</h2>
                <p class="article__text">Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam</p>
                <a href="" class="article__link">read more</a>
            </article>
        </div>
        <div class="info__item">
            <article class="article">
                <h2 class="article__title">about our company</h2>
                <p class="article__text">Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam</p>
                <a href="" class="article__link">read more</a>
            </article>
        </div>
    </div>
</div>