<div class="wrapper wrapper--light-grey">
    <div class="news container">
        <div class="news__item">
            <article class="article">
                <h2 class="article__title">pingbuller starts here</h2>
                <p class="article__text">"Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam vitae lectus eu libero pellentesque pulvinar urna risus, mattis pulvinar bibendum in, venenatis quis neque. Mauris nec metus ultricies erat consequat dignissim non eu nisl."</p>
            </article>
        </div>
        <div class="news__item">
            <article class="article">
                <h2 class="article__title">recent updates</h2>
                <ul class="article__list">
                    <li class="list__items">
                        <h6>Nunc turpis neque feugiat eget</h6>
                        <p>Posted by Admin on March 13 2012 in Recent News</p>
                    </li>
                    <li class="list__items">
                        <h6>Nunc turpis neque feugiat eget</h6>
                        <p>Posted by Admin on March 13 2012 in Recent News</p>
                    </li>
                    <li class="list__items">
                        <h6>Nunc turpis neque feugiat eget</h6>
                        <p>Posted by Admin on March 13 2012 in Recent News</p>
                    </li>
                </ul>
                <a href="" class="article__link">read more here</a>
            </article>
        </div>
    </div>
</div>