<section class="recent-updates">
    <div class="wrapper">
        <div class="news">
            <div class="reviews">
                <span class="block__title block__title--news">pingbulLer</span>
                <span class="block__title block__title--purple">starts here</span>
                <p class="block__paragraph">"Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam vitae lectus eu libero pellentesque pulvinar urna risus, mattis pulvinar bibendum in, venenatis quis neque. Mauris nec metus ultricies erat consequat dignissim non eu nisl."</p>
                <div class="slider__ctrl">
                    <input type="radio" name="ctrl" id="" />
                    <input type="radio" name="ctrl" id="" />
                    <input type="radio" name="ctrl" id="" />
                    <input type="radio" name="ctrl" id="" />
                </div>
            </div>
            <div class="from-the-blog">
                <span class="block__title block__title--news">recent updates</span>
                <ul class="from-the-blog__nav">
                <li class="nav__item">
                        <a href="#" class="nav__link">Nunc turpis neque feugiat eget</a>
                        <p>Posted by Admin on March 13 2012 in Recent News</p>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Nunc turpis neque feugiat eget</a>
                        <p>Posted by Admin on March 13 2012 in Recent News</p>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Nunc turpis neque feugiat eget</a>
                        <p>Posted by Admin on March 13 2012 in Recent News</p>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">read more here</a>
                    </li>
                </ul>

            </div>
        </div>
        <!-- <div class="logos-slider">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi mollitia, sit quas ratione incidunt cum sint facilis assumenda similique explicabo. Distinctio, nisi, vero! Impedit quibusdam quo sunt similique a, magni.
            LoremLorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi mollitia, sit quas ratione incidunt cum sint facilis assumenda similique explicabo. Distinctio, nisi, vero! Impedit quibusdam quo sunt similique a, magni.
            LoremLorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi mollitia, sit quas ratione incidunt cum sint facilis assumenda similique explicabo. Distinctio, nisi, vero! Impedit quibusdam quo sunt similique a, magni.
        </div> -->
    </div>
    
</section>