<div class="wrapper wrapper--dark-grey">
    <div class="recent container">
        <div class="recent__items">
            <article class="article">
                <h2 class="article__title">pingbull er</h2>
                <h6 class="article__subtitle">Copyright 2013, Pingbull AS</h6>
                <p class="article__text">Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam vitae lectus eu libero pellentesque</p>
            </article>
        </div>
        <div class="recent__items">
            <article class="article">
                <h2 class="article__title">recent comments</h2>
                <h6 class="article__subtitle"></h6>
                <p class="article__text">Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam vitae lectus eu libero pellentesque pulvinar. Quisque urna risus, mattis pulvinar bibendum in, venenatis quis </p>
            </article>
        </div>
        <div class="recent__items">
            <article class="article">
                <h2 class="article__title">new categories</h2>
                <h6 class="article__subtitle"></h6>
                <p class="article__text">Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam vitae lectus eu libero pellentesque pulvinar. Quisque urna risus, mattis pulvinar bibendum in, venenatis quis </p>
            </article>
        </div>
    </div>
</div>