@import "core/reset";
@import "core/fonts";
@import "core/typography";

@import "header";
@import "info";
@import "news";


.wrapper {
    display: flex;
    justify-content: center;
    &--img {
        background-image: url('../img/header-bg.png');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
    &--purple {
        border-top: 1px solid #33253a;
        border-bottom: 1px solid #0d151b;
        background: linear-gradient(to top, #322539 0%, #745083 100%);
        box-shadow: 0 1px 8px rgba(0, 0, 0, .5);
    }
    &--light-grey {
        background-color: #f9f9f9;
    }
}

.container {
    width: 100%;
    min-width: 20rem;
    max-width: 60rem;
}

.article__title {
    text-shadow: 0.5px 0.9px 0 #0f1518;
    color: $white;
    font-weight: 400;
    text-transform: uppercase;
    &--dark {
        color: $dark;
    }
    &--purple {
        color: #edbfff;
    }
}

.article__text {
    text-shadow: 0.5px 0.9px 0 #0f1518;
    color: $white;
    font-weight: 300;
}

.article__link {
    font-size: 18px;
    text-transform: uppercase;
    color: $white;
    align-self: flex-end;
    &:hover {
        text-shadow: 0 0 8px rgba(255, 255, 255, .8);
    }
}

