<main>
    <aside class="product-catalogue">
        <h2>Каталог продукции:</h2>
        <nav class="product-catalogue-menu">
            <ul>
                <li>
                    <a href="#">Шины</a>
                    <ul class="menu-items">
                        <li><a href="#">Наименование 1</a></li>
                        <li><a href="#">Наименование 2</a></li>
                        <li><a href="#">Наименование 3</a></li>
                        <li><a href="#">Наименование 4</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Диски</a>
                    <ul class="menu-items">
                        <li><a href="#">Наименование 1</a></li>
                        <li><a href="#">Наименование 2</a></li>
                        <li><a href="#">Наименование 3</a></li>
                        <li><a href="#">Наименование 4</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Болты</a>
                    <ul class="menu-items">
                        <li><a href="#">Наименование 1</a></li>
                        <li><a href="#">Наименование 2</a></li>
                        <li><a href="#">Наименование 3</a></li>
                        <li><a href="#">Наименование 4</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>

    <section class="product-list">
        <figure class="product-item">
            <figcaption class="item-desc"><span>Goodyear</span>Ultra Grip Extreme</figcaption>
            <div class="goods-img">
                <img src="./img/tire-image.png" alt="Product Item">
            </div>
            <figcaption class="item-price">90.00 <span>грн</span></figcaption>
        </figure>

        <figure class="product-item">
            <figcaption class="item-desc"><span>Nokian</span>Hakkapeliitta R</figcaption>
            <div class="goods-img">
                <img src="./img/tire-image.png" alt="Product Item">
            </div>
            <figcaption class="item-price">115.00 <span>грн</span></figcaption>
        </figure>

        <figure class="product-item">
            <figcaption class="item-desc"><span>Hankook</span>K 708 155/65 R14</figcaption>
            <div class="goods-img">
                <img src="./img/tire-image.png" alt="Product Item">
            </div>
            <figcaption class="item-price">393.00 <span>грн</span></figcaption>
        </figure>

        <figure class="product-item">
            <figcaption class="item-desc"><span>Goodyear</span>Ultra Grip Extreme</figcaption>
            <div class="goods-img">
                <img src="./img/tire-image.png" alt="Product Item">
            </div>
            <figcaption class="item-price">90.00 <span>грн</span></figcaption>
        </figure>

        <figure class="product-item">
            <figcaption class="item-desc"><span>Nokian</span>Hakkapeliitta R</figcaption>
            <div class="goods-img">
                <img src="./img/tire-image.png" alt="Product Item">
            </div>
            <figcaption class="item-price">115.00 <span>грн</span></figcaption>
        </figure>

        <figure class="product-item">
            <figcaption class="item-desc"><span>Hankook</span>K 708 155/65 R14</figcaption>
            <div class="goods-img">
                <img src="./img/tire-image.png" alt="Product Item">
            </div>
            <figcaption class="item-price">393.00 <span>грн</span></figcaption>
        </figure>

        <figure class="product-item">
            <figcaption class="item-desc"><span>Goodyear</span>Ultra Grip Extreme</figcaption>
            <div class="goods-img">
                <img src="./img/tire-image.png" alt="Product Item">
            </div>
            <figcaption class="item-price">90.00 <span>грн</span></figcaption>
        </figure>

        <figure class="product-item">
            <figcaption class="item-desc"><span>Nokian</span>Hakkapeliitta R</figcaption>
            <div class="goods-img">
                <img src="./img/tire-image.png" alt="Product Item">
            </div>
            <figcaption class="item-price">115.00 <span>грн</span></figcaption>
        </figure>

        <figure class="product-item">
            <figcaption class="item-desc"><span>Hankook</span>K 708 155/65 R14</figcaption>
            <div class="goods-img">
                <img src="./img/tire-image.png" alt="Product Item">
            </div>
            <figcaption class="item-price">393.00 <span>грн</span></figcaption>
        </figure>
    </section>

    <aside class="brands">
        <h2>Бренды:</h2>
        <form action="#">
            <ul class="brands-list">
                <li>
                    <ul class="brands-tire-list">
                        <li><a href="#">Шины</a></li>
                        <li>
                            <input type="checkbox" id="brands-tire-check1">
                            <label for="brands-tire-check1">Бренд 1</label>
                        </li>
                        <li>
                            <input type="checkbox" id="brands-tire-check2">
                            <label for="brands-tire-check2">Бренд 2</label>
                        </li>
                        <li>
                            <input type="checkbox" id="brands-tire-check3">
                            <label for="brands-tire-check3">Бренд 3</label>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="brands-disks-list">
                        <li><a href="#">Диски</a></li>
                        <li>
                            <input type="checkbox" id="brands-disks-check1">
                            <label for="brands-disks-check1">Бренд 1</label>
                        </li>
                        <li>
                            <input type="checkbox" id="brands-disks-check2">
                            <label for="brands-disks-check2">Бренд 2</label>
                        </li>
                        <li>
                            <input type="checkbox" id="brands-disks-check3">
                            <label for="brands-disks-check3">Бренд 3</label>
                        </li>
                    </ul>
                </li>
                <li>
                 <button>Выбрать</button>
             </li>
         </ul>
     </form>
    </aside>
</main>