<header>
    <section class="general-info">
        <ul class="phone-list">
            <li><a href="tel:+30441234567">(044)123-45-67</a></li>
            <li><a href="tel:+30445678910"> (044)567-89-10</a></li>
        </ul>

        <form action="#" class="user-log-in">
            <fieldset>
                <ul>
                    <li><input type="text" name="login" placeholder="логин"></li>
                    <li><input type="password" name="pass" placeholder="пароль"></li>
                    <li><button class="enter">вход</button></li>
                    <li><button>регистрация</button></li>
                    <li><button>забыли пароль?</button></li>
                </ul>
            </fieldset>
        </form>

        <ul class="shortcuts">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </section>

    <section class="logo">
        <img src="../img/header-img.png" alt="">
    </section>

    <nav class="prior-menu">
        <ul>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Оплата</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Статьи</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </nav>
    
</header>
