<header>
    <div class="contact">
        <img src="./img/logo.png" alt="ONE CLUB">
        <ul >
            <li><a href="tel:+380443590899">+380 44 359-08-99</a>Пн-Вс: 9:00 - 21:00</li>
            <li><a href="#">Войти</a></li>
            <li><a href="#">Корзина</a></li>
        </ul>
    </div>
    
    <div class="website-nav">
        <ul>
            <li><a href="#">акции</a></li>
            <li><a href="#">каталог</a></li>
        </ul>
        <input type="text" placeholder="Поиск...">
    </div>

    <nav class="prior-menu">
        <ul>
            <li><a href="#">женщинам</a></li>
            <li><a href="#">мужчинам</a></li>
            <li><a href="#">детям</a></li>
            <li><a href="#">косметика</a></li>
            <li><a href="#">для дома</a></li>
            <li><a href="#">бренды</a></li>
        </ul>
    </nav>

</header>