$white: #fff;
$dark-blue: #154468;
$menuItemBorder: #79878d;
$menuItemColor: #114165;
$fontArial: Arial;
$fontLucida: 'Lucida Sans Unicode';
$headerSprite: url('../img/sprite-header.png');
$mainSprite: url('../img/sprite-main-content.png');
$gradient: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);