<div class="wrapper wrapper--img--footer">
    <div class="page-footer container">
        <ul class="menu">
            <li class="menu__item"><a href="" class="menu__link menu__link--initial">home</a></li>
            <li class="menu__item"><a href="" class="menu__link">about</a></li>
            <li class="menu__item"><a href="" class="menu__link">blog</a></li>
            <li class="menu__item"><a href="" class="menu__link">products</a></li>
            <li class="menu__item"><a href="" class="menu__link">lorem ipsum</a></li>
            <li class="menu__item"><a href="" class="menu__link">dolor sit amet</a></li>
        </ul>
        <div class="author"><p>Designed by Pingbull AS</p></div>
    </div>
</div>