table {
    border: 20px solid #fff;
    border-collapse: collapse;
}

td,
tr {
    width: 50px;
    height: 50px;
    border: 10px solid #000;
}

.row-1 td:last-child,
.row-2 td:nth-child(3),
.row-7 td:first-child {
    background-color: yellow;
}

.row-2 td:nth-child(2) {
    background-color: red;
}

.row-6 td:nth-child(-n+2),
.row-7 td:nth-child(2),
.row-7 td:nth-child(3),
.row-8 td:nth-child(2) {
    background-color: grey;
}


.row-7 td:last-child {
    background-color: blue;
}

.row-9 td {
    border: 0;
}
